/* @import url("../components/Layout/Header.js"); */
.logo{
  border-radius: 50%;
  width:60px;
}
.slideshow-container {
  position: relative;
  /* max-width: 1000px; */
  margin: auto; 
  padding-top: 70px;
  
} 
.mySlides {
  display: none;
  height: 84vh;
  width:100vw;
  display: none;
  background-color: transparent; /* Ensure slide background is transparent */
}
.mySlides.active {
  display: block;
}
img {
  vertical-align: middle;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;   
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}  

.active, .dot:hover {
  background-color: #717171;
}

.dots-container {
  text-align: center;
}

#navbarTogglerDemo01{
  height:9.5vh;
  position: relative;
  
  /* font-size: 18px; */ 
}

.nav-link{
  background-color: transparent;
}   
/* .banner-img {
  margin-top: 60px;
  height: 93vh;
} */
.home-page h1 {
  color: rgb(37, 36, 37);
  font-family: "Playfair Display", serif;
}   

.home-page {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;    
}

.home-page .card-name-price { 
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  
}
.image img{
  flex-wrap: wrap;   
  justify-content: space-evenly;
  border-radius: 50%;     
  width: 10rem;
  height: 10rem;
  margin: 25px;
}
.category-icon {    
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;
}
.category-icon img {
  max-width: 150px; /* Adjust the size as needed */
  margin-bottom: 0.5rem;
  border-radius: 50%;
}
.category-icon{
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  margin-right: 62px;
}
.category-icon img:hover{
  max-width: 120px;
}

.cate{
  margin: 25px;
  font-family:"Playfair Display", serif;
  font-size: 30px;
}
.category-icon span {
  font-weight: bold;
  color: #333; /* Adjust text color as needed */
}
.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px; 
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}
.home-page .card-img-top {
  height: 200px !important;
  border-bottom: 3px solid black;
}
/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}
.row{
  display: flex;
  flex-wrap: wrap;
} 