.rounded-input {
    padding: 6px;
    font-size: 15px;
    width: 375px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded corners */
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #F4F5F7;
    padding-left: 40px;
    margin-right: 10px;
    margin-top: 3px;
  }   
  
  .rounded-input:focus {
    border-color: #308031; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a shadow on focus */
  }
  
  .search-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-icon {
    position: absolute;
    right: 350px;
    top:15px;
    cursor: pointer;    
    color: black;
    transition: color 0.3s;
  }
  
  .search-icon:hover {
    color: #007bff;
  }